workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH
      changes:
        - defaults/*
        - files/**/*
        - handlers/*
        - meta/*
        - molecule/**/*
        - tasks/**/*
        - templates/**/*
        - vars/**/*

lint:
  image: gwerlas/ansible-lint
  script: ansible-lint

import:
  stage: deploy
  image: gwerlas/ansible
  script: ansible-galaxy role import --token $GALAXY_TOKEN Gwerlas libvirt
  rules:
    - if: '$CI_COMMIT_REF_PROTECTED == "true" && $CI_COMMIT_TAG'
