---
- name: Distribution variables
  ansible.builtin.include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      files:
        - "{{ vars_file }}"
        - empty.yml
      paths:
        - "{{ role_path }}/vars"
  loop:
    - "{{ ansible_facts.service_mgr }}.yml"                                                     # openrc,       systemd
    - "{{ ansible_facts.os_family | lower }}-like.yml"                                          # debian-like,  redhat-like, etc.
    - "{{ ansible_facts.distribution | lower }}.yml"                                            # debian,       fedora,      ubuntu
    - "{{ ansible_facts.os_family | lower }}{{ ansible_facts.distribution_major_version }}-like.yml"  # redhat7-like
    - "{{ ansible_facts.distribution | lower }}{{ ansible_facts.distribution_major_version }}.yml"    # debian10
    - "{{ ansible_facts.distribution | lower }}-{{ ansible_facts.distribution_release | lower }}.yml" # ubuntu-bionic
  loop_control:
    loop_var: vars_file

- name: Backends variables
  ansible.builtin.include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      files:
        - "{{ vars_file }}.yml"
        - empty.yml
      paths:
        - "{{ role_path }}/vars"
  loop: "{{ libvirt_backends }}"
  loop_control:
    loop_var: vars_file

- name: Facts
  ansible.builtin.set_fact:
    cacheable: true
    libvirt_packages: "{{ packages_computed }}"
