---
- name: Load variables
  ansible.builtin.import_tasks: "{{ role_path }}/tasks/facts.yml"

- name: Checks
  ansible.builtin.include_tasks: "{{ role_path }}/tasks/{{ backend }}/checks.yml"
  loop: "{{ libvirt_backends }}"
  loop_control:
    loop_var: backend

- name: Packages
  tags:
    - packages
  ansible.builtin.import_tasks: "{{ role_path }}/tasks/packages.yml"

- name: Services
  when: "'libvirtd' in libvirt_install"
  ansible.builtin.import_tasks: "{{ role_path }}/tasks/services.yml"

- name: Firewalling
  when: libvirt_manage_firewall
  tags:
    - firewall
  ansible.builtin.import_tasks: "{{ role_path }}/tasks/firewall.yml"
  
- name: Backends
  ansible.builtin.include_tasks: "{{ role_path }}/tasks/{{ backend }}/post-install.yml"
  loop: "{{ libvirt_backends }}"
  loop_control:
    loop_var: backend

- name: Configure
  ansible.builtin.include_tasks: "{{ role_path }}/tasks/configure.yml"

- name: Users
  tags:
    - users
  ansible.builtin.include_tasks: "{{ role_path }}/tasks/users.yml"

- name: Provision the resources
  tags:
    - provision
  ansible.builtin.import_tasks: "{{ role_path }}/tasks/provision.yml"
