---
- name: Rebuild with new use flags
  listen:
    - emerge --deep --newuse
  become: true
  community.general.portage:
    package: "{{ packages_computed }}"
    deep: true
    newuse: true

- name: Restart dnsmasq service
  listen:
    - restart dnsmasq
  become: true
  ansible.builtin.service:
    name: dnsmasq
    state: restarted

- name: Restart dbus service
  listen:
    - emerge --deep --newuse
  become: true
  ansible.builtin.service:
    name: dbus
    state: restarted

- name: Restart libvirt service
  listen:
    - emerge --deep --newuse
    - Restart libvirt service
  become: true
  ansible.builtin.service:
    name: libvirtd
    state: restarted

- name: Wait for libvirtd ready
  listen:
    - emerge --deep --newuse
    - Restart libvirt service
  become: true
  ansible.builtin.command:
    cmd: virsh -c qemu:///system version
  register: result
  until: not result.failed
  changed_when: false

- name: Restart firewalld service
  when:
    - libvirt_manage_firewall
    - "'libvirtd' in libvirt_install"
  become: true
  ansible.builtin.service:
    name: firewalld
    state: restarted
