{# https://libvirt.org/formatnetwork.html #}
<network>
  <name>{{ _libvirt_network.name }}</name>
{% if 'forward' in _libvirt_network %}
  <forward mode='{{ _libvirt_network.forward.mode | default('nat') }}'/>
{% endif %}
{% if 'bridge' in _libvirt_network %}
  <bridge name='{{ _libvirt_network.bridge.name }}'/>
{% endif %}
{% for ip in _libvirt_network.ips | default([]) %}
  <ip address='{{ ip.address }}' netmask='{{ ip.netmask }}'>
{% if 'dhcp' in ip %}
    <dhcp>
{% for range in ip.dhcp.ranges %}
      <range start='{{ range.start }}' end='{{ range.end }}'/>
{% endfor %}
    </dhcp>
{% endif %}
  </ip>
{% endfor %}
</network>
