<!-- {{ ansible_managed }} -->
{% set pool_type = libvirt_pool.type | default('netfs' if 'source' in libvirt_pool else 'dir') %}
<pool type="{{ pool_type }}">
  <name>{{ libvirt_pool.name }}</name>
{% if pool_type == 'netfs' %}
  <source>
    <host name="{{ libvirt_pool.source.host }}"/>
    <dir path="{{ libvirt_pool.source.dir }}"/>
    <format type='nfs'/>
  </source>
{% endif %}
{% if pool_type in ['dir', 'fs', 'netfs', 'logical', 'disk', 'iscsi', 'scsi', 'mpath', 'zfs'] %}
{% set pool_owner = libvirt_pool.owner | default(system_wide | ternary(libvirt_system_users.qemu, ansible_facts.user_id)) %}
{% set pool_group = libvirt_pool.group | default(getent_passwd[pool_owner][2]) %}
  <target>
    <path>{{ libvirt_pool.path }}</path>
    <permissions>
      <mode>{{ libvirt_pool.mode | default(system_wide | ternary('0771', '0711')) }}</mode>
      <owner>{{ pool_owner if pool_owner | string is match('^\d+$') else getent_passwd[pool_owner][1] }}</owner>
      <group>{{ pool_group if pool_group | string is match('^\d+$') else getent_group[pool_group][1] }}</group>
{% if 'mode' in ansible_facts.selinux %}
      <label>system_u:object_r:virt_image_t:s0</label>
{% endif %}
    </permissions>
  </target>
{% endif %}
</pool>
