---
- name: Load variables
  when: system_wide is undefined
  ansible.builtin.import_tasks: "{{ role_path }}/tasks/facts.yml"

- name: Pools - Create - Get informations about the group
  ansible.builtin.command:
    cmd: >-
      getent group {{
        group |
        default(system_wide | ternary(
          grps.libvirt | default('libvirt'),
          ansible_user_gid
        ))
      }}
  register: getent
  changed_when: false
  check_mode: false

- name: Pools - Create - Define
  community.libvirt.virt_pool:
    name: "{{ pool.name }}"
    xml: "{{ lookup('template', 'pool.xml.j2') }}"
    command: define
    uri: "{{ libvirt_uri }}"
  loop: "{{ libvirt_pools }}"
  loop_control:
    loop_var: pool
  vars:
    owner_name: "{{ system_wide | ternary('root', ansible_user_id) }}"
    owner_id: "{{ system_wide | ternary(0, ansible_user_uid) }}"
    group_name: "{{ (getent.stdout | split(':'))[0] }}"
    group_id: "{{ (getent.stdout | split(':'))[2] }}"
    mode: "{{ system_wide | ternary('0771', '0711') }}"

- name: Pools - Create - Build
  community.libvirt.virt_pool:
    name: "{{ pool.name }}"
    command: build
    uri: "{{ libvirt_uri }}"
  loop: "{{ libvirt_pools }}"
  loop_control:
    loop_var: pool
