---
- name: Load variables
  when: system_wide is undefined
  ansible.builtin.import_tasks: "{{ role_path }}/tasks/facts.yml"

- name: Getent
  when: getent_passwd is undefined or not libvirt_system_users.libvirt in getent_passwd
  ansible.builtin.import_tasks: "{{ role_path }}/tasks/getent.yml"

- name: Pools - Create - Define
  community.libvirt.virt_pool:
    name: "{{ libvirt_pool.name }}"
    xml: "{{ lookup('template', 'pool.xml.j2') }}"
    command: define
    uri: "{{ libvirt_uri }}"
  loop: "{{ libvirt_pools }}"
  loop_control:
    loop_var: libvirt_pool

- name: Pools - Create - Build
  community.libvirt.virt_pool:
    name: "{{ libvirt_pool.name }}"
    command: build
    uri: "{{ libvirt_uri }}"
  loop: "{{ libvirt_pools }}"
  loop_control:
    loop_var: libvirt_pool
