---
- name: Pools - Refresh
  community.libvirt.virt_pool:
    command: refresh
    name: "{{ pool.name }}"
    uri: "{{ libvirt_uri }}"
  loop: "{{ libvirt_pools }}"
  loop_control:
    loop_var: pool

- name: Pools - Facts
  community.libvirt.virt_pool:
    command: facts
    uri: "{{ libvirt_uri }}"

- name: Pools - Debug
  ansible.builtin.debug:
    var: ansible_libvirt_pools
    verbosity: 1
