---
- name: Run as
  become: true
  block:
    - name: Qemu - Users - Group
      tags:
        - users
      ansible.builtin.user:
        name: "{{ item }}"
        append: true
        groups:
          - "{{ libvirt_system_groups.kvm }}"
          - "{{ libvirt_system_groups.qemu }}"
      loop: "{{ libvirt_users }}"

    - name: Reset connection to take effect of new grps relationship
      ansible.builtin.meta: reset_connection

    - name: Qemu - Default network
      when: |
        libvirt_active_default_network
        or 
        libvirt_remove_default_network
      ansible.builtin.import_tasks: "{{ role_path }}/tasks/networks.yml"
      vars:
        libvirt_uri: qemu:///system
        networks:
          - name: default
            state: "{{ 'active' if libvirt_active_default_network else 'absent' }}"
            autostart: true
            bridge: virbr0
            ip:
              address: 192.168.122.1
              netmask: 255.255.255.0
              dhcp:
                start: 192.168.122.2
                end: 192.168.122.254

    - name: Default pool
      ansible.builtin.import_tasks: "{{ role_path }}/tasks/pools.yml"
      vars:
        libvirt_uri: qemu:///system
        group: "{{ grps.qemu | default('libvirt-qemu') }}"
        pools:
          - name: default
            path: /var/lib/libvirt/images

    - name: Qemu - Users - Default pool
      tags:
        - users
      loop: "{{ libvirt_users }}"
      loop_control:
        loop_var: username
      ansible.builtin.include_tasks: "{{ role_path }}/tasks/run-as.yml"
      vars:
        libvirt_uri: qemu:///session
        task: pools.yml
        pools:
          - name: default
            path: "{{ ansible_user_dir + '/.local/share/libvirt/images' }}"
